.nav-link {
	color: white;
}

.nav-link:hover {
	color: grey;
}

li a .actieve-link{
	background-color: green;
	margin-top: 0;
	margin-bottom: 0;
}

.header {
	top:0px;
	width:100%;
}

.head {
	margin-right: 60px;
}

.main-root {
    display: flex;
    flex-direction: column;
}

.footer{
	bottom:0px;
	width:100%;
	padding-top: 20px;
	
}

.body{
	padding: 10px;
}

.plus{
	font-size: 2000%;
	font-weight: bolder;
	color: lightgray;
}

.card-text{
	text-decoration: none;
	color: #212529;
}

.btn-outline-secondary:hover{
	background-color: #55595c;
	transition: 0ms;
}

.delete{
	width: 60px;
	height: 30px;
	font-size: 12px;
	text-align: left;
}

.detailTable th{
	width: 20%;
}

.rect {
	background-image: url('../src/assets/Still-Image_Xbox-Game-Pass_2_EA-Play-Title-Cards.f1620123579.jpg');
}